* {
	margin: 0;
	padding: 0;
	
}

body {
	background-color:#B6B6B6;
}

#header {

	background-color: #393939;

}

#nav {
	width: 100%;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex; 
  -webkit-flex-align: baseline;
  -ms-flex-align: baseline;
  -webkit-align-items: baseline;
  align-items: baseline;
	margin: 0 auto;
	flex-direction: row;
	-moz-flex-direction: row;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	text-align: center;
}

h1 {
	font-size:1.8em;
	margin-top: .2em;
	margin-left: 20px;
	display: block;
	width: 60%;
	text-align:left;
	font-family: 'Raleway', sans-serif;
	font-weight: normal;
	margin-bottom: .2em;
	color: lightblue;
	transition: all .5s ease-in-out;
}

h1:hover{
	color: #F5F5F5;
}

a {	
	margin-bottom: .2em;
	padding: .1em;
	display: block;
	width: 20%;
	text-align:center;
	font-family: 'Raleway', sans-serif;
	color: #F5F5F5;
	transition: all .5s ease-in-out;
	text-decoration: none;
	font-weight: normal;
	
	
	
}

h1 a {
	width: 50%;
	color: lightblue;
	margin-bottom:0;
}

a:hover {
	transform: scale(1.05);
	color: lightblue;
}

#intro {
	width: 100%;
	min-height: 100%;
	background-image: url("images/jsCode.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	text-align: center;
}

#intro h3{
	text-align:center;
	font-family: 'Raleway', sans-serif;
	/*font-weight: normal;*/
	font-size: 3em;
	padding-top: 12%;
	color: #F5F5F5;

}

#intro p {
	text-align: center;
	margin: 6% 0 12% 0;
	color: #F5F5F5;
	font-size:1.2em;
	font-family: 'Raleway', sans-serif;
}

#challenge p{
	margin: 0 auto;
	background-color: white;
	text-align: center;
	padding: 2em;
	margin: 3% 10% 3% 10%;
	box-shadow: 0px 0px 3px 3px rgba(60, 60, 60, .1);
}

#challenge h3 {
	text-align:center;
	font-family: 'Raleway', sans-serif;
	margin-top: 12%;
	font-weight: normal;
	font-size: 2em;
}

#buttons{
	margin: 0 auto;
	text-align: center;
	margin-bottom: 36%;

	
}

#buttons input {
	width: 150px;
	text-align: center;
	border-radius: 0px;
	background-color: white;
	border: none;
	height: 30px;
	transition: all .5s ease-in-out;
	box-shadow: 0px 0px 3px 3px rgba(60, 60, 60, .1);
}

#intro input{
	width: 150px;
	text-align: center;
	border-radius: 0px;
	background-color: white;
	border: none;
	height: 30px;
	transition: all .5s ease-in-out;
	box-shadow: 0px 0px 3px 3px rgba(255, 255, 255, .2);
	margin-bottom: 30%;
}

#intro input:hover{
	color: lightblue;
	transform: scale(1.05);
}

#buttons input:hover {
	color: #FF9900;
	transform: scale(1.05);
}

#comments {
	display: block;
	text-align:center;
	width: 75%;
	margin: 0 auto;
	background-color: white;
	padding: 1em;
	margin-bottom: 15%;
	
	
}


#footer {
	background-color: #393939;
	margin-top: 2.5%;
	color: #F5F5F5;
	text-align: center;

}

#footer p {
	 padding: 1em;
	 font-family: 'Raleway', sans-serif;

}

@media screen and (max-width: 800px){
	a{
		width: 25%;
		text-align: center;
		margin: 0;
	}
	h1 a{
		width: 50%;
		text-align: center;
		margin: 0;
	}
	
	#intro{
		display: none;
	}
}

@media screen and (max-width: 700px ) {

	#nav {
		flex-direction: column;
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
	}
	
	h1 {
		width: 100%;
		text-align: center;
		font-size: 1.5em;
		margin-bottom: 10px;
		margin-left: 0;
	}
	
	h1 a {
		width: 100%;	
	}
	
	a {
		width: 100%;
		margin-bottom: 10px;
	}



}